  <h1>{{ isEditing ?  "Detalhes:" : "Adicionar" }} Herói</h1>

<form [formGroup]="form" novalidate>
  <mat-card>
    <mat-card-content fxLayout="column">

    <!-- ID -->
      <mat-form-field *ngIf="isEditing">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>

    <!-- Nome -->
      <mat-form-field>
        <mat-label>Herói:</mat-label>
        <input
          id="name"
          formControlName="name"
          matInput
          placeholder="Nome do Herói"
          type="text"
        />
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Campo Obrigatório
        </mat-error>

        <mat-error *ngIf="form.controls['name'].hasError('minlength')">
          Nome deve ter no mínimo 8 Caracteres
        </mat-error>

      </mat-form-field>

    <!-- Poder -->
      <mat-form-field>
        <mat-label>Super Poder:</mat-label>
        <input
          id="power"
          formControlName="power"
          matInput
          placeholder="Poder do Herói"
          type="text"
        />
        <mat-error  *ngIf="form.controls['power'].hasError('required')">
          Campo Obrigatório
        </mat-error>

        <mat-error *ngIf="form.controls['power'].hasError('minlength')">
          Poder deve ter no mínimo 8 Caracteres
        </mat-error>

      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button
        color="primary"
        mat-raised-button
        *ngIf="!isEditing"
        (click)="create()"
        >
          Adicionar
      </button>
      <button
        color="primary"
        mat-raised-button
        *ngIf="isEditing"
        (click)="update()"
        >
          Alterar
      </button>

      <button mat-raised-button (click)="goBack()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>
